.MuiTableSortLabel-root {
  &,
  &.Mui-active,
  &:hover,
  &:focus {
    color: inherit !important;
  }

  &:focus-visible {
    outline: 1px solid white;
  }
}

.MuiTableRow-root {
  font-variant-numeric: tabular-nums;
}
