@font-face {
  font-family: "Sora";
  src:
    local(Sora-Regular),
    url(../src/assets/fonts/sora/Sora-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Sora";
  src:
    local(Sora-SemiBold),
    url(../src/assets/fonts/sora/Sora-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Sora";
  src:
    local(Sora-Bold),
    url(../src/assets/fonts/sora/Sora-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
